<div class="main-gallery">
  <h1 class="main-header">｡・ﾟﾟ・ ᵗᶦⁿʸ ᵍᵃˡˡᵉʳʸ ・ﾟﾟ・｡</h1>

  <p>This is the interface for the raspberry pi powered tiny gallery. Choose your image, and it will display on the pi if it's connected to a network.</p>
  <p>Find out more on github: <a href="http://github.com/rachelnicole/pigallery" target="_blank">github.com/rachelnicole/pigallery</a></p>
  <p>Made by <a href="http://www.twitter.com/ohhoe" target="_blank">@ohhoe</a> / <a href="http://rachelisaweso.me" target="_blank">rachelisaweso.me</a> / <a href="http://imcool.online" target="_blank">imcool.online</a></p>

  <div class="gallery">
  </div>

  <div class="collection">
    <h2>Rachel White</h2>
    <div class="pieces">

      <div> ========</div>
      <% images.forEach(function(images) { %>
        <a href="#" class="galleryItem"><img src='<%= images %>' /></a>
      <% }); %>
    </div>
  </div>

  <div class="collection">
    <div class="upload">
      <form name="uploadForm" id="artForm" enctype="multipart/form-data">
        <p><input id="uploadInput" type="file" name="galleryIcon"></p>
        <p><input type="submit" value="Send file"></p>
      </form>
    </div>
  </div>
</div>