body, html {
  background: #93FFD9;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.main-gallery {
  background: #fff;
  width: 500px;
  height: 100vh;
  display: block;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.gallery {
  width: 384px;
  height: 384px;
  border: 15px double;
  display: block;
  margin: 0 auto;
}

.main-header {
  text-align: center;
}