<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <ul>
        <% images.forEach(function(images) { %>
            <li><img src='<%= images %>' /></li>
        <% }); %>
    </ul>

    <% include ../partials/footer %>

</body>
</html>